@import "../tokens/colors.css";
@import "../tokens/layout.css";
@import "../tokens/typography.css";

.button {
    border-radius: var(--border-radius-lg);
    border-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.4rem;
}

.mini {
    width: 4.25rem;
    height: 1.3rem;
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-mn);
    font-family: var(--font-family-primary);
}

.small {
    font-size: var(--font-size-xs);
    font-family: var(--font-family-primary);
    width: 6.5rem;
    height: 1.5rem;
}

.medium {
    font-size: var(--font-size-md);
    font-family: var(--font-family-primary);
    width: 9rem;
    height: 2rem;
}

.large {
    font-size: var(--font-size-md);
    font-family: var(--font-family-primary);
    width: 11rem;
    height: 2.5rem;
}

.extra-lg {
    font-size: var(--font-size-lg);
    font-family: var(--font-family-primary);
    width: 15rem;
    height: 3.2rem;
}

.info {
    background-color: var(--color-orange-primary);
    color: var(--color-white);
}

.warning {
    background-color: var(--color-red-secondary);
    color: var(--color-red-primary);
    border-width: 0.12rem;
    border-color: var(--color-red-primary);
}

.cancel {
    background-color: var(--color-bg);
    color: var(--color-green-secondary);
    border-width: 0.12rem;
    border-color: var(--color-green-secondary);
}

.accept {
    background-color: var(--color-green-secondary);
    color: var(--color-white);
}


.login {
    background-color: #DBFFF2;
    color: var(--color-green-primary);
    border-width: 0.12rem;
    border-color: var(--color-green-primary);
}

.plus-min{
    background-color: #CDE8E7;
    color: var(--color-green-primary);
    width: 2rem;
    height: 2rem;
    border-radius: var(--border-radius-sm);
}

/* Tablet */
@media (max-width: 768px) {
    .large {
        width: 100%;
        max-width: 11rem;
    }

    .extra-lg {
        width: 100%;
        max-width: 15rem;
    }
}

/* Móvil */
@media (max-width: 480px) {
    .mini {
        width: 3.5rem;
        height: 1.2rem;
        font-size: 0.6rem;
    }

    .small {
        width: 5.5rem;
        height: 1.3rem;
        font-size: 0.7rem;
    }

    .medium {
        width: 7.5rem;
        height: 1.8rem;
        font-size: 0.85rem;
    }

    .large {
        width: 100%;
        max-width: 8.5rem;
        height: 2rem;
        font-size: 0.87rem;
    }

    .extra-lg {
        width: 100%;
        max-width: 9.5rem;
        height: 3rem;
        font-size: 1rem;
    }
}