@import "../tokens/colors.css";
@import "../tokens/layout.css";
@import "../tokens/typography.css";

.save-discard-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cell-modified {
    background-color: var(--color-green-tertiary);
}

.action-button {
    padding: 0.8rem;
}

.edit-button {
    padding: 1rem;
}

.edit-div {
    display: flex;
    justify-content: center;
    align-items: center;
}