@import "../tokens/colors.css";
@import "../tokens/layout.css";
@import "../tokens/typography.css";

.selection-input {
    cursor: pointer;
    accent-color: var(--color-green-secondary);
    transform: scale(1.6);
}

.selection-input:disabled {
    cursor: not-allowed;
}