@import "../tokens/colors.css";
@import "../tokens/layout.css";
@import "../tokens/typography.css";

.temporary-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    background-color: var(--color-bg);
}

.temporary-logo{
    width: 150px;
    height: auto;
}

.temporary-icon {
    font-size: 4rem;
}

.temporary-text {
    font-size: 2rem; 
    color: var(--color-black); /* rojo suave */
    font-weight: var(--font-weight-medium);
    text-align: center;
}