.custom-swal-popup {
    border-radius: var(--border-radius-2xl);
    padding: 1.5rem;
    background-color: var(--color-bg);

    border: 2px solid var(--color-green-secondary);

    font-family: var(--font-family-primary);
}

.custom-swal-title {
    color: var(--color-green-secondary);

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);

    line-height: var(--line-height-tight);
}

.custom-swal-text {
    color: var(--color-black);

    font-size: var(--font-size-md);
    line-height: var(--line-height-normal);
}

.custom-swal-message {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.custom-swal-message p,
.custom-swal-text p {
    margin: 0;
}

.custom-swal-secondary-text {
    font-size: var(--font-size-sm);
    opacity: 0.9;
}

/* ========================= */
/* BOTONES */
/* ========================= */

.custom-swal-confirm,
.custom-swal-confirm-timer,
.custom-swal-cancel {
    border-radius: var(--border-radius-md);

    padding: 0.7rem 1.2rem;
    margin: 0 0.25rem;

    cursor: pointer;

    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);

    border: 2px solid transparent;

    transition: all 0.2s ease;
}

/* Confirmar */

.custom-swal-confirm,
.custom-swal-confirm-timer {
    background: var(--color-green-secondary);

    color: var(--color-white);

    border-color: var(--color-green-secondary);
}

.custom-swal-confirm:hover,
.custom-swal-confirm-timer:hover {
    background: var(--color-green-secondary);

    border-color: var(--color-green-secondary);

    box-shadow: 0px 4px 10px rgba(21, 161, 155, .50);

    transform: translateY(-1px);
}

/* Cancelar */

.custom-swal-cancel {
    background: var(--color-white);

    color: var(--color-green-secondary);

    border-color: var(--color-green-tertiary);
}

.custom-swal-cancel:hover {
    background: var(--color-green-quaternary);

    border-color: var(--color-green-primary);

    box-shadow: 0px 4px 10px rgba(3, 80, 77, 0.18);
}

/* ========================= */
/* ACTIONS */
/* ========================= */

.swal2-actions {
    margin-top: 1rem !important;
}

.swal2-actions .custom-swal-confirm:only-child,
.swal2-actions .custom-swal-confirm-timer:only-child {
    min-width: 8rem;
}