.balance-counters-group{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    flex-wrap: nowrap;
    padding: 0;
}

/* Tablet */
@media (max-width: 1024px){
    .balance-counters-group{
        gap: 3rem;
    }
}

/* Celular */
@media (max-width: 768px){
    .balance-counters-group{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }
}