@import "../tokens/colors.css";
@import "../tokens/layout.css";
@import "../tokens/typography.css";


.wrapper{
    width: auto;
    height: 30rem;
    padding: 0 5rem 0 5rem;
}

.custom-green-theme {
    --ag-background-color: var(--color-bg);
    --ag-foreground-color: var(--color-green-secondary);
    --ag-border-color: var(--color-green-secondary);
    --ag-row-border-color: var(--color-bg);
    --ag-font-size: var(--font-size-md);
}

.custom-green-theme .ag-cell {
    border-right: 1px solid var(--color-green-secondary);
}

.custom-green-theme .ag-row {
    border-bottom: 1px solid var(--color-green-secondary);
    
}

.custom-green-theme .ag-cell {
    color: var(--color-black);
}

.custom-green-theme .ag-header-cell-label {
    color: var(--color-black);
}

.custom-green-theme ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-green-theme ::-webkit-scrollbar-thumb {
    background-color: var(--color-green-secondary);
    border-radius: 6px;
    border: 2px solid var(--color-bg);
}

.custom-green-theme ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-green-primary);
}

/* Tablet */
@media (max-width: 1024px) {
    .wrapper{
        padding: 0 3rem 0 3rem;
    }
}   

/* Mobile */
@media (max-width: 480px) {
    .wrapper{
        padding: 0 1rem 0 1rem;
        height: 35rem;
    }
}
