:root {
    --color-orange-primary: #F7941D;
    --color-green-primary: #15A19B;
    --color-green-secondary: #03504D;
    --color-green-tertiary: #C4DEDD;
    --color-green-quaternary: #C4EBE9;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-red-primary: #D14242;
    --color-red-secondary: #E9D9D4;
    --color-bg: #EFFFF9;
}
