@import "./tokens/colors.css";
@import "./tokens/layout.css";
@import "./tokens/typography.css";

.input {
    border-radius: var(--border-radius-xl);
    border-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    margin-bottom: 0.4rem;
}

.sm {
    height: 2rem;
    width: 6rem;
    border-radius: var(--border-radius-lg);
    font-size: 12px;
}

.md {
    font-size: 16px;
    width: 15rem;
    height: 2rem;
}

.lg {
    font-size: 16px;
    width: 24.5rem;
    height: 2.5rem;
}

.xl {
    font-size: 20px;
    width: 30rem;
    height: 3rem;
}
