@import "../tokens/colors.css";
@import "../tokens/layout.css";
@import "../tokens/typography.css";

.filters-Row {
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0rem 2.7rem 0rem 5rem;
    margin-top: 1rem;
    box-sizing: border-box;
    align-self: stretch;
    margin-bottom: 2rem;
}

.filters-Row .formSelect{
    background-color: rgba(196, 222, 221, .64);
    border: none;
}

.filters-Row .selectOptions{
    background-color: rgba(196, 222, 221, 100);
    border: none;
}

.filters-Row .selectOption.selected{
    background-color: #8ECAC8;
}

.filters-Row .search-input-container {
    margin-top: 2.5rem;
}

.client-search-wrapper {
    margin-left: auto;
    width: 35rem;
}

.client-search-wrapper .search-input-container {
    width: 100%;
    max-width: none;
}

/* Tablet */
@media (max-width: 1024px) {
    .filters-Row {
        grid-template-columns: 1fr 1fr;
        padding: 0 3rem;
    }
    .search-wrapper {
        width: 100%;
        margin-left: 0;
    }
}

/* Celular */
@media (max-width: 768px) {
    .filters-Row {
        grid-template-columns: 1fr;
        padding: 0 1rem;
        justify-items: center;
    }
    .search-wrapper {
        width: 100%;
        max-width: 16rem;
        margin-left: 0;
    }
}