@import '../tokens/colors.css';
@import '../tokens/layout.css';
@import '../tokens/typography.css';

/* Contenedor principal del switch de composta */
.compost-status-switch{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

/* Estilo del texto descriptivo del switch */
.switch-label{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
}

/* Contenedor del componente toggle */
.toggle{
    display: flex;
    align-items: center;
}