.counter-input {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.counter-input-title {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 400;
    color: #000000;
}

.counter-input-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.counter-input-value {
    min-width: 6.5rem;
    height: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: #000000;
    background-color: var(--color-bg);
    border: 1px solid var(--color-green-secondary);
    border-radius: var(--border-radius-lg);
}

.counter-input-error {
    margin: 0;
    font-size: 1.2rem;
    color: #d9534f;
}