.counters-group{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
}

.counters-group .counters-container{
    flex: 0 0 auto;
}

/* Celular */
@media (max-width: 768px){
    .counters-group{
        display: block;
    }
}