@import "../tokens/colors.css";
@import "../tokens/layout.css";
@import "../tokens/typography.css";

.error-message{
    margin-top: 10px;
    color: var(--color-red-primary);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
}

.input-error {
    border: 1px solid var(--color-red-primary)!important;
    background-color: var(--color-red-secondary) !important;
}

.input-error:focus {
    background-color: var(--color-red-secondary) !important;
    outline-color: var(--color-red-primary)  !important;
}

.input-container {
    position: relative;
    width: 100%;
}

.password-toggle {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
}

.password-toggle:hover {
    opacity: 0.7;
}