@import "../tokens/colors.css";
@import "../tokens/layout.css";
@import "../tokens/typography.css";

.payment-info-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--color-green-quaternary);
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid var(--color-green-primary);
    box-shadow: none;
}

/* Mobile */
@media (max-width: 480px) {
    .payment-info-card {
        border-radius: 0.5rem;
    }
}