@import "../tokens/colors.css";
@import "../tokens/layout.css";
@import "../tokens/typography.css";

.progress-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0 1.5rem;
}

.cp-progress-step-line {
    background-color: var(--color-green-secondary);
}