.yes-no-question {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.yes-no-question-title {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 400;
    color: #000000;
}

.yes-no-question-options {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    color: #03504D;
}

.yes-no-question-option {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    caret-color: #03504D;
}

.yes-no-question-error {
    margin: 0;
    font-size: 1.2rem;
    color: #d9534f;
}
