@import "../tokens/colors.css";
@import "../tokens/layout.css";
@import "../tokens/typography.css";

.page {
    background-color: var(--color-bg);
    width: 100%;
    min-height: 100vh;
}

.table-container {
    width: 100%;
    max-width: 1400px;
    margin: 10rem auto 0 auto;
    padding: 0 12rem;
    box-sizing: border-box;
}

.filters-container{
    width: auto;
    padding: 0 5rem 0 5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem; 
}

.filters-dropdowns{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.filters-container .formSelect{
    background-color: rgba(196, 222, 221, .64);
    border: none;
}

.filters-container .selectOptions{
    background-color: rgba(196, 222, 221, 100);
    border: none;
}

.filters-container .selectOption.selected{
    background-color: #8ECAC8;
}

.reload-icon{
    margin-bottom: 0.1rem;
    color: var(--color-green-secondary);
    cursor: pointer;
}

.table-scroll {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
}

.custom-green-theme {
    min-width: 1100px;
    height: 30rem;
}

.wrapper{
    overflow-x: hidden !important;
}

.copy-link-container {
    position: absolute;
    top: 6rem;
    right: 6.8rem;
    /* z-index: 10; */
}

/* Tablet */
@media (max-width: 1024px) {
    .table-container {
        margin-top: 2rem;
        padding: 0 1rem;
    }

    .filters-container{
        padding: 0 3rem;
    }

    .filters-dropdowns{
        display: flex;
        flex-direction: column;
    }

    .custom-green-theme {
        font-size: var(--font-size-xs);
    }

    .copy-link-container {
        top: 5rem;
        right: 1rem;
    }
}

@media (max-width: 768px) {

    .filters-container{
        padding: 0 3rem 0 3rem;
    }

    .filters-dropdowns{
        display: flex;
        flex-direction: column;
    }

    .copy-link-container {
        position: static;
        display: flex;
        justify-content: flex-end;
        padding: 1rem 0.5rem 0 0.5rem;
        box-sizing: border-box;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .page {
        padding: 0.5rem;
    }

    .table-container {
        margin-top: 1.5rem;
        padding: 0 0.5rem;
    }

    .filters-container{
        padding: 0 3rem 0 1rem;
    }

    .filters-dropdowns{
        display: flex;
        flex-direction: column;
    }

    .custom-green-theme {
        min-width: 1100px;
        height: 35rem;
        font-size: var(--font-size-xs);
    }
}